.section-main {
    background-color: #f0f0f0;
}

.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
    padding-top: 30px;

    grid-template-areas:
        "post search-bar"
        "post link-bar"
        "post review-bar"
        "post .";
}