*,
*::after,
*::before {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('./fonts/MYRIADPRO-REGULAR.OTF') format('opentype');
}

body {
    font-family: "Fjalla One", sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}

button {
    background-color: inherit;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

.section-outer {
    width: 100%;
}

.section-inner {
    max-width: 1170px;
    margin: auto;
}