.header {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-content: center;

  &::after {
    position: absolute;
    content: "";
    width: 100vw;
    left: 0;
    background-color: #383838;
    height: 100%;
    z-index: -2;
  }
}

.logo {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #b297c4;
  position: relative;
  padding: 0 15px;

  &::after {
    content: "";
    position: absolute;
    box-sizing: content-box;
    padding: 20px 0;
    height: 100%;
    width: 100%;
    background-color: #b297c4;
    z-index: -1;
    border-radius: 5px;
  }
}

.logo-title {
  text-transform: uppercase;
  font-size: 44px;
  color: white;
}

.nav {
  display: flex;
  align-items: stretch;
}

.nav-item {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  border-right: 2px solid #2a2a2a;
  padding: 24px;

  &:first-child {
    border-left: 2px solid #2a2a2a;
  }

  &:hover {
    background-color: #2a2a2a;
    color: #b297c4;
  }
}
